django
djangorestframework
mysqlclient
requests
uvicorn
uvicorn-worker
azure-storage-blob
python-dotenv
langchain
langchain-community
langchain-ollama


#testing
starlette
httpx
psutil


GPUtil
setuptools
py-cpuinfo
nvidia-ml-py3

#testing 2
chromadb
PyPDF2 
python-docx
sentence_transformers